<div class="pf2e-custom-sections">
    <h4 class="tags-title">Custom Section</h4>
    <div class="form-group">
        <label for="pf2e-custom-sections-name">Label</label>
        <input class="section-name" type="text" id= "pf2e-custom-sections-name" name="pf2e-custom-sections-name" value="{{customSection}}">
    </div>
</div>

